<script setup>
  import { useUserStore } from './stores/user';

  const user = useUserStore()
  const token = useCookie('authToken')

  const logout = () => {
    token.value = ''
    user.removeToken()
    user.removeUserData()

    navigateTo('/')
  }
</script>

<template>
  <div>
    <div class="flex justify-between px-20 p-4">
      <NuxtLink to="/">Home</NuxtLink>

      <div class="flex gap-3">
        <NuxtLink v-if="user.authToken" to="/profil">Profile: {{ user.userData?.fullName }}</NuxtLink>
        <div v-if="user.authToken" class="cursor-pointer" @click="logout">Logout</div>
        <NuxtLink v-else to="/masuk">Masuk / Daftar</NuxtLink>
      </div>
    </div>
    <NuxtPage />
  </div>
</template>
