<script setup>
  const { data: headers, pending } = await useFetch(
    `https://devel.rumahsiapkerja.com/rsk-backend/v3/headers?location=welcome&numberOfTraining=4`,
    {
      key: 'headers',
      server: false,
      transform: (res => res.data)
    }
  )

  const { $seo } = useNuxtApp()

  const seoData = $seo({
    title: 'Rumah Siap Kerja',
    url: 'https://devel.rumahsiapkerja.com/',
    description: '#PercayaDiriRaihMimpi dengan pelatihan intensif selama 4 minggu di Career Preparation Program agar kamu siap hadapi dunia kerja!',
    image: '/img/ssu-1.jpg',
    keywords: 'Rumah Siap Kerja, Rumah, Siap, Kerja, Karir, Training'
  })

  useHead(seoData)
</script>

<template>
  <div class="p-20">
    <div v-if="pending">Loading...</div>
    <div>
      <div v-for="(header, n) in headers" :key="n" class="mb-5">
        <h1 class="font-normal text-2xl mb-3">{{ header.name }}</h1>
        <div class="grid grid-cols-4 gap-4">
          <NuxtLink v-for="(item, n2) in header.training" :key="n2" class="h-full shadow rounded-xl" :to="`/kelas/${item.trainingCode}`">
            <div>
              <img :src="item.coverImage" :alt="item.title" class="h-[10rem] w-full object-cover rounded-t-lg">
            </div>

            <div class="p-4">
              <div v-text="item.title" class="mb-2 text-lg font-medium"></div>
              <div class="flex justify-between mb-5">
                <div>
                  <div>{{ item.price }}</div>
                  <div>{{ item.originalPrice }}</div>
                </div>
                <div>
                  {{ item.averageRating }}
                </div>
              </div>

              <div>{{ item.trainer.fullName }}</div>
            </div>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.shadow {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
</style>