<script setup>
  import { useUserStore } from '@/stores/user'

  const userData = useUserStore()
  const token = useCookie('authToken')

  const user = reactive({
    email: null,
    password: null
  })

  const isLoading = ref(false)


  const submitLogin = async () => {
    try {
      isLoading.value = true

      const { data } = await $fetch('https://devel.rumahsiapkerja.com/rsk-backend/v1/auth/login', {
        method: 'POST',
        body: {
          username: user.email,
          password: user.password
        }
      })

      token.value = data.authorization
      userData.setUserData(data)
      userData.setToken(data.authorization)

      navigateTo('/')
    } catch({ data }) {
      isLoading.value = false
      alert('User tidak ditemukan')
    }
  }
</script>



<template>
  <div class="p-20">
    <!-- <div v-if="response.error">
      User tidak ditemukan
    </div> -->
    <form @submit.prevent="submitLogin">
      <div class="flex flex-col mb-2">
        <label>Email</label>
        <input type="email" v-model="user.email" class="border border-black rounded p-2" />
      </div>
      <div class="flex flex-col mb-2">
        <label>Password</label>
        <input type="password" v-model="user.password" class="border border-black rounded p-2" />
      </div>
      <div>
        <button type="submit" class="p-3 bg-blue-500 rounded text-white">{{ isLoading ? 'Loading...' : 'Login' }}</button>
      </div>
    </form>
  </div>
</template>