<script setup>
  const route = useRoute()
  const { slug } = route.params

  const { data: trainingCode } = await useAsyncData(
    'trainingCode', 
    () => $fetch(`https://devel.rumahsiapkerja.com/rsk-backend/v3/trainings/find-by-training-code/${slug}`),
    {
      transform: (res) => res.data
    }
  )

  const { data: trainingData, pending: trainingDataLoading } = await useAsyncData(
    'traningData',
    async () => await $fetch(`https://devel.rumahsiapkerja.com/rsk-backend/v2/training/${trainingCode.value.id}`),
    {
      transform: res => res.data
    }
  )

  const { data: reference, pending: referenceLoading } = await useFetch(
    'https://devel.rumahsiapkerja.com/rsk-backend/v1/master/references?page=0&size=30&type=educationalAttainment',
    {
      key: 'reference',
      server: false,
      transform: res => res.data.content
    }
  )

  const { data: otherTraining, pending: otherLoading } = await useFetch(
    'https://devel.rumahsiapkerja.com/rsk-backend/v1/training?page=0&size=4&province_code=&approval_status=APPROVED&sort_by=eventDateTime&direction=DESC',
    {
      key: 'otherTraining',
      server: false,
      transform: res => res.data.content
    }
  )

  const { data: syllabus, pending: syllabusLoading } = await useFetch(
    `https://devel.rumahsiapkerja.com/rsk-backend/v3/training-syllabus/${trainingCode.value.id}`,
    {
      key: 'syllabus',
      server: false,
      transform: res => res.data
    }
  )

  const { $seo } = useNuxtApp()

  const seoData = $seo({
    title: trainingData.value.title,
    url: `https://devel.rumahsiapkerja.com/kelas/${trainingData.value.trainingCode}`,
    description: '#PercayaDiriRaihMimpi dengan pelatihan intensif selama 4 minggu di Career Preparation Program agar kamu siap hadapi dunia kerja!',
    image: trainingData.value.coverImage,
    keywords: 'Rumah Siap Kerja, Rumah, Siap, Kerja, Karir, Training'
  })

  useHead(seoData)
</script>

<template>
  <div class="p-20">
    <div v-if="syllabusLoading">Loading Syllabus</div>
    <div v-else>Syllabus Loaded</div>

    <div v-if="referenceLoading">Loading Reference</div>
    <div v-else>Reference Loaded</div>

    <div v-if="otherLoading">Loading Other Training</div>
    <div v-else>Other Training Loaded</div>
  </div>
</template>